@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
	background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("pages/old_paper_bg.jpg") center/cover no-repeat fixed;
}

.flipbook {
    width: 70vw;
    height: 70vh;
}

.navigation-controls {
  display: inline-flex;        /* 🔥 trzyma wszystkie przyciski i inputy w jednym rzędzie */
  justify-content: center;
  align-items: center;
  gap: 20px;                    /* odstęp między elementami */
  margin-top: 50px;
  width: 100%;                 /* wyśrodkowanie na całą szerokość */
}

.navigation-controls button,
.navigation-controls input {
  font-family: 'EB Garamond', serif;
  font-size: 22px; /* lekko większa czcionka */
  font-weight: 500;
  padding: 14px 20px; /* zwiększony rozmiar przycisku */
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.navigation-controls button {
  cursor: pointer;
  background-color: #f0f0f0;
  display: flex;               /* środkowanie SVG */
  min-width: 55px;  /* szerokość minimalna */
  min-height: 55px; /* wysokość minimalna */
}

.navigation-controls button:hover {
  background-color: #e0e0e0;
}

/* powiększenie ikon SVG wewnątrz przycisków */
.navigation-controls button svg {
  width: 32px;
  height: 32px;
}